<div class="page__content-data position-absolute text-center">
    <form class="centered-content styled-form" [formGroup]="usuarioForm" (ngSubmit)="guardar()">
        <div class="title">Actualizar Usuario</div>
        <div class="input-container disabled">
            <input type="text" formControlName="id" id="id" class="form-control" placeholder=" " maxlength="12"
                (keydown)="$event.preventDefault()" (keypress)="$event.preventDefault()"
                (change)="$event.preventDefault()" />
            <label for="id"><span class="red">*</span> Id</label>
        </div>

        <div class="input-container">
            <input type="text" formControlName="nombreUsuario" id="nombreUsuario" class="form-control"
                placeholder=" " />
            <label for="nombreUsuario"><span class="red">*</span> Usuario</label>
        </div>

        <div class="input-container">
            <input type="text" formControlName="contaseniaUsuario" id="contaseniaUsuario" class="form-control"
                placeholder=" " />
            <label for="contaseniaUsuario"><span class="red">*</span> Contraseña</label>
        </div>



        <div class="card-footer">
            <button type="submit btn-rounded m-r-10" class="btn btn-success">
                <i class="ti-check"></i> Actualizar Usuario
            </button>
            <button type="button" class="btn btn-danger btn-rounded m-r-10" (click)="cancelar()">
                <i class="ti-close"></i> Cancelar
            </button>
        </div>
    </form>
</div>