@import "../../../../assets/css/formularios.css";
@import "../../../../assets/css/tituloComponentes.scss";

.centered-content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.styled-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}