<form #miFormulario="ngForm" (ngSubmit)="validarUsuario(miFormulario)">
    <label for="txtUsuario">Usuario:</label>
    <input type="text" class="campo-usuario" id="txtUsuario" name="txtUsuario" placeholder="Usuario" ngModel>

    <label for="txtpassword">Contraseña:</label>
    <input type="password" class="campo-contrasena" id="txtPassword" name="txtPassword" placeholder="Contraseña"
        ngModel>

    <input type="submit" class="boton-iniciar-sesion" value="Iniciar sesión">
</form>
<app-modal-mensaje *ngIf="isVisible" (click)="closePopup()"></app-modal-mensaje>