<div class="container">
  
    <table width="100%" #miTabla datatable [dtOptions]="dtOptions" [dtTrigger] = "dtTrigger"
      class="table row-border hover fade success" (window:resize)="onResize()" [class.show]="showTable==true">
      <thead>
        <tr>
          <th>Id</th>
          <th>Usuario</th>
          <th>Contraseña</th>              
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of ListUsuario; index as i" [usuarioDelista]="usuario" [indice]="i">
          <td>{{usuario.userId}}</td>
          <td>{{usuario.userName}}</td>
          <td>{{usuario.userPassword}}</td>
          <td>
            <div class="dropdown" (click)="toggleDropdown($event, i)" (mouseleave)="hideDropdown(i)">
              <div class="card-button" [class.dropped]="closedStatus[i]==false">
                <mat-icon>Opciones</mat-icon> </div>
              <div class="drop-content square-top shrink" [class.show]="closedStatus[i]==false">
                <div class="drop-content-section actions">
                  <ul class="action-list">
                    <li  [routerLink]="['/editar',i]">Modificar</li>
                    <li (click)="eliminar(usuario.userId)">Eliminar</li> 
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>      
    </table>  
    <button type="button" (click)="crearUsuario()" class="btn btn-success btn-rounded btn-top-right">Crear Usuario</button>      
  </div>