.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #3980F1;
      //background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 1rem;
      &-data {
        width: 1000px;        
        //height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      //overflow-wrap: break-word;
      overflow: auto;
    }
  }